# Credit card fraud detection

Importing the essential libraries

In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**Loading the data set into Pandas data frame**

In [15]:
data = pd.read_csv('creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [16]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

**Here the time of of last transtion noted is "172792.0" seconds 
it means we have 2 days of transaction Data**

**Lets get some information from the data**

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

**Luckily we dont have any Null values**

**Now lets Check the Distributionof Legit transaction & Fraudelent Transaction**

In [21]:
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

**This data set is Highly Imbalance**

**0 --> Normal Transaction**

**1 --> Fraudulent Transaction**

**Now Lets seperate the data for analysis**

In [43]:
legit = data[data.Class==0]
fraud = data[data.Class==1]

In [44]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

**Statistical measures of data**

In [45]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [46]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

**Comparing the values of both transaction**

In [47]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under Sampling

**Build a sample data set containg similar distribution of normal transaction and Fraudulent transaction**

**Number of Fraudulent Transactions --> 492**

In [48]:
legit_sample = legit.sample(n=492)

**Concatenating the Two Data frames**

In [52]:
new_data = pd.concat([legit_sample,fraud],axis=0)
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
87018,61503.0,1.422936,-1.254943,0.963468,-1.195422,-2.172766,-0.956115,-1.350293,-0.087559,-1.395056,...,0.019533,0.379918,-0.000037,0.697941,0.282154,-0.066549,0.044587,0.032854,36.97,0
16601,27963.0,1.277168,-1.080317,1.279836,-0.277156,-1.528999,0.666465,-1.364143,0.179504,0.501530,...,-0.483835,-0.495425,-0.083371,-0.350860,0.268454,1.148218,0.026839,0.022350,38.90,0
199376,132933.0,-0.023408,1.057805,-0.517906,-0.593717,1.119955,-0.732974,0.985986,-0.172183,-0.065711,...,-0.335960,-0.809580,0.140765,0.386909,-0.361651,0.113386,0.100845,0.073528,1.29,0
23805,32924.0,-0.037660,-2.744175,-0.593531,0.063487,-1.618156,-0.587654,0.656347,-0.369867,-1.215013,...,0.055013,-0.883923,-0.629096,0.642582,0.125992,0.983614,-0.205441,0.115729,724.50,0
96888,65988.0,-1.686710,-0.924424,0.643627,-1.184155,-2.787223,1.631225,1.310181,0.528666,0.893897,...,0.314076,1.259569,0.811387,-0.231106,-0.318458,0.251368,0.241935,-0.120713,537.00,0

In [55]:
new_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

**Now the data is Balanced**

In [57]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95954.199187,0.043238,-0.046913,0.046359,0.035674,0.034209,-0.146389,-0.019367,-0.053348,-0.009771,...,-0.037702,-0.023079,-0.015377,0.009728,0.023167,-0.009317,-0.013140,0.044129,-0.026447,75.189797
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Splitting the the data into Features and Targets**

In [59]:
x = new_data.drop(columns='Class',axis = 1)
y = new_data['Class']

In [61]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
87018    61503.0  1.422936 -1.254943  0.963468 -1.195422 -2.172766 -0.956115
16601    27963.0  1.277168 -1.080317  1.279836 -0.277156 -1.528999  0.666465
199376  132933.0 -0.023408  1.057805 -0.517906 -0.593717  1.119955 -0.732974
23805    32924.0 -0.037660 -2.744175 -0.593531  0.063487 -1.618156 -0.587654
96888    65988.0 -1.686710 -0.924424  0.643627 -1.184155 -2.787223  1.631225
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
87018  -1.350293 -0.087559 -1.395056  ... -0.347168  0.019533  0.379918
16601  -1.364143  0.179504  0.501530  ... -0.321497 -0.483835 -0.495425
199376  0.985986 -0.172183 -0.065711  ...  0.042420 -0.335960 -0.809580
23805   0.656347 -0.369867 -1.215013  ...  0.990253  0.055013 -0.883923
96888   1.310181  0.528666  0.893897  ... -0.117244  0.314076  1.259569
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
87018  -0.000037  0.697941  0.282154 -0.066549  0.044587  0.032854   36.97
16601  -0.083371 -0.350860  0.268454  1.148218  0.026839  0.022350   38.90
199376  0.140765  0.386909 -0.361651  0.113386  0.100845  0.073528    1.29
23805  -0.629096  0.642582  0.125992  0.983614 -0.205441  0.115729  724.50
96888   0.811387 -0.231106 -0.318458  0.251368  0.241935 -0.120713  537.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [63]:
print(y)

87018     0
16601     0
199376    0
23805     0
96888     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

**Split the data into training data & Testing data**

In [65]:
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2,stratify = y,random_state=2)

In [67]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training (Logistic Regresion)

In [71]:
model = LogisticRegression()

**Training the Logistic Regression Model with Training data**

In [72]:
model.fit(x_train,y_train)

LogisticRegression()

**Model Evaluation**

In [74]:
#Accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [76]:
print("Accuracy on training data : ", training_data_accuracy)

Accuracy on training data :  0.9491740787801779

In [79]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)
print("Accuracy on testing data : ", test_data_accuracy)

Accuracy on testing data :  0.9289340101522843

**Accuracy of test data is tested to check whether the model is Overfitting/Under fitting**

**Lets day if the test data accuracy is too low (say 50.23%) and train data accuracy is something like 95.23% it clears implies that the model is over fitted.**

                                                                                        **--A project by Rathan Guntuka**